<html>
<head>
  <style type="text/css">
    body {
      font-family: 'Open Sans', sans-serif;
      color: #333333;
    }
    h2 {
      border-bottom: 1px solid #5d5d5d;
    }
  </style>
</head>
<body>
<h2>Helm Status Snapshot</h2>
<p><iframe src="<%= filename %>" frameborder="0" height="400"
           width="95%"></iframe></p>
<p>Visit the Kubernetes dashboard for more details regarding the deployment.</p>
</body>
</html>